<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             <header>
            {{>header}}
        </header>
        <img class="potrait" src='/img/shiva.jpg' style="width:250px;">
        {{!-- <p>created by {{name}}</p> --}} 
        </div>
       
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>